.padding-all {
    padding: 10px 10px 10px 10px;
}

.price-title {
    font-weight: 600;
    color: #000;
}

.sub-title {
    font-size: 14px;
    color: #000;
}

.icon-style {
    margin-top: 20px;
    margin-left: 20px;
}

.gradient {
    background-color: #F3F6F9;
}

.bgcolor {
    min-height: 100vh;
    background: #ECEFF1;
    background: linear-gradient (158deg, Irgb(224, 224, 224) 0%, rrgb(233, 237, 254) 100%);
}


.payout-title {
    font-weight: 600;
    color: #000;
}

.date-pickup {
    display: flex;
    background-color: #f2f2f2f2;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-left: 20px;
    width: 87%;
}

.widgets {
    background-color: #f2f2f2f2;
    margin-left: 15px;
    margin-top: 15px;
    width: 87%;
    padding: 25px;
    display: flex;
}

.custom-spacing {
    margin-bottom: 10px;
}

.sidebg {
    background-color: red;
}

.import-export {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
}
