.padding-all {
    padding: 10px 10px 10px 10px;
}

.price-title {
    font-weight: 600;
    color: #fff;
}

.sub-title {
    font-size: 14px;
    color: #fff;
}

.icon-style {
    margin-top: 20px;
    margin-left: 20px;
}

.gradient {
    background: rgb(40, 34, 70);
    background: linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
}

.gradient2 {
    background: rgb(40, 34, 70);
    background: linear-gradient(90deg, hsla(350, 73%, 44%, 1) 0%, hsla(274, 65%, 12%, 1) 100%);
}

.gradient3 {
    background: rgb(40, 34, 70);
    background: linear-gradient(90deg, hsla(0, 0%, 37%, 1) 0%, hsla(59, 30%, 49%, 1) 100%);
}

.bgcolor {
    min-height: 100vh;
    background: #ECEFF1;
    background: linear-gradient (158deg, Irgb(224, 224, 224) 0%, rrgb(233, 237, 254) 100%);
}


.payout-title {
    font-weight: 600;
    color: #000;
}

/* .btn-outer {
    margin-top: 15px;
    display: flex;
    justify-content: end;
} */


.custom-spacing{
    margin-bottom: 10px;
}

.sidebg{
    background-color: red;
}